.link {
  color: var(--foreground);
  text-decoration: none;
}

.details {
  padding: 0.5rem 0;
}

.price {
  font-size: 1.2rem;
  font-weight: 500;
}

.bedBathSqft {
  display: flex;
  column-gap: 0.4rem;
}

.price,
.bedBathSqft {
  margin-bottom: 0.5rem;
}
