@value smallAndUp from '../../styles/breakpoints.module.css';

.listingMapBody {
  position: relative;
  /* 100% height required for both ListingMap and GoogleMap, otherwise it
  doesn't display on mobile */
  height: 100%;
}

@media smallAndUp {
  .listingMapBody {
    margin: 0 1rem 0 1rem;
  }
}
