@value smallAndUp from '../../../styles/breakpoints.module.css';

.legend {
  font-size: inherit;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.price {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}

@media smallAndUp {
  .legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}
