.outlinedButton {
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 1.25rem;
  height: 2.5rem;
  padding: 0 0.8rem;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
}

.default {
  color: var(--foreground);
}

.default:hover {
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}

.highlighted {
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}
