.status {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 1.25rem;
  padding: 0.2rem 0.4rem;
  background-color: #5a5a5a;
  color: white;
}

.statusActive {
  composes: status;
  background-color: var(--active-listing);
}

.statusPending {
  composes: status;
  background-color: var(--pending-listing);
}

.statusSold {
  composes: status;
  background-color: var(--sold-listing);
}
