@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animatePulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* This is for accessibility. Some users can have issues with excessive motion */
@media (prefers-reduced-motion: reduce) {
  .animatePulse {
    animation: none;
  }
}
